*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navbar .circle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.25);
}